<template>
  <q-page class="bg-grey-3">
    <div class="q-pa-md" style="width: 100%;">
      <q-tabs class="shadow-1 bg-grey-7" align="left">
          <q-tab name="Statistik" label="Daftar Inventarisasi" style="color: white;" />
      </q-tabs>
      <q-tab-panels v-model="tab">
        <q-tab-panel name="profil">
          <div class="q-pa-md">
            <center>
              <h5>Daftar Inventarisasi {{ JudulTabel }}</h5>
            </center>

            <div class="q-pa-md">
                    
                    <q-table id="table-data"
                      :data="data"
                      :columns="columns"
                      row-key="id"
                      :pagination.sync="pagination"
                      :loading="loading"
                      :filter="filter"
                      @request="onRequest"
                      binary-state-sort
                    >

                    <template v-slot:top-right>
                      <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                        <template v-slot:append>
                          <q-icon name="search" />
                        </template>
                      </q-input>
                    </template>

                    <q-td slot="body-cell-ProdukHukumTentang" slot-scope="props" :props="props">
                      <div class="text-left" v-html="props.row.ProdukHukumTentang"></div>

                    </q-td> 

                    <q-td slot="body-cell-file_name" slot-scope="props" :props="props">
                       <div v-if="props.row.files.length > 0">
                         <div v-for ="(file) in props.row.files">
                          <a :href="file.file_path" target="_blank" style="text-decoration: none;color: #027be3;">{{ file.file_name }}</a>
                         </div>
                       </div>
                       <div v-else>
                         <p>tidak ada lampiran</p>
                       </div>
                    </q-td>
                    </q-table>
                  </div>
        </div>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  data () {
    return {
      attachment:'',
      JudulTabel: '',
      tab:'profil',
      contents: {},
      jenis:{},
      filter: '',
      loading: false,
      pagination: {
        sortBy: 'id',
        descending: false,
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 10
      },
      ajaxUrl: '',
      columns: [
          { name: 'id', label: 'No Urut', align:'center', field: row => this.noUrut(row), sortable: false },
          { name: 'ProdukHukumKode', label: 'No Peraturan Teratas', align:'center', field: 'ProdukHukumKode', sortable: true },
          { name: 'ProdukHukumTglPenetapan', label: 'Tanggal Penetapan', align:'center', field: 'ProdukHukumTglPenetapan', sortable: true },
          { name: 'ProdukHukumTentang', label: 'Tentang', align: 'left', field: 'ProdukHukumTentang', sortable: true },
          { name: 'file_name', label: 'File', align:'left', field: 'file', sortable: true },
      ],
      data: []
    }
  },
  methods:{
    onRequest (props) {
      let { page, rowsPerPage, rowsNumber, sortBy, descending } = props.pagination
      let filter = props.filter
      this.loading = true
      // emulate server
      setTimeout(() => {
        // get all rows if "All" (0) is selected
        let fetchCount = rowsPerPage === 0 ? rowsNumber : rowsPerPage
        // calculate starting row of data
        let startRow = (page - 1) * rowsPerPage
        // fetch data from "server"
        let returnedData = this.fetchFromServer(startRow, fetchCount, filter, sortBy, descending)
        // clear out existing data and add new
        this.data.splice(0, this.data.length, ...returnedData)
        // don't forget to update local pagination object
        this.pagination.page = page
        this.pagination.rowsPerPage = rowsPerPage
        this.pagination.sortBy = sortBy
        this.pagination.descending = descending
        // ...and turn of loading indicator
        this.loading = false
      }, 1500)
    },
    // emulate ajax call
    // SELECT * FROM ... WHERE...LIMIT...
    fetchFromServer (startRow, count, filter, sortBy, descending) {
      let source = this.ajaxUrl
      let formData = new FormData()
      formData.append('startRow', startRow)
      formData.append('count', count)
      formData.append('filter', filter || '')
      formData.append('sortBy', sortBy)
      formData.append('descending', descending === false ? 0 : 1)
      this.axios.post(source, formData).then((response) => {
          let resultData = response.data.data
          this.data = resultData
          this.pagination.rowsNumber = response.data.totalRows
      })
      return this.data
    },

  
    noUrut(row){
      let CurrentPage = this.pagination.page;
      let rowIndex = row.__index + 1;
      let rowPerPage = this.pagination.rowsPerPage;
      return CurrentPage === 1 ? rowIndex : ((CurrentPage * rowPerPage) - (rowPerPage - rowIndex))
    },

    content () {
      this.axios.get('/admin/get_jenisprodukhukum/' + this.$route.params.id)
        .then(response => {
          this.contents = response.data[0]
          if(this.contents){
              this.JudulTabel = this.contents.JenisProdukHukumNama
          }
          // console.log(this.contents)
        })
    },
    get_jenis () {
      this.axios.get('/admin/kategorijdihs/' + this.$route.params.id)
        .then(response => {
          this.jenis = response.data.data
          // console.log(this.jenis)

        })
    },
     get_attachment () {
      this.axios.get('/admin/getattachment/' + 11)
        .then(response => {
          this.attachment = response.data.data
          // console.log(this.jenis)

        })
    }
  },
  mounted (){

    this.ajaxUrl = "admin/get_produkhukum/"+ this.$route.params.id
    // console.log(this.ajaxUrl)

    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
    this.content();
    this.get_jenis();
    this.get_attachment();
  }
}
</script>
