<template>
  <q-page class="bg-grey-3">
    <div class="q-pa-md" style="width: 100%;">
      <q-tabs class="shadow-1 bg-grey-7" align="left">
          <q-tab name="Statistik" label="Rekap Inventarisasi per Tahun" style="color: white;" />
      </q-tabs>
      <q-tab-panels v-model="tab" class="gutter-md q-mb-lg">
        <q-tab-panel name="profil">
          <div class="q-pa-md">
            <table>
              <tr v-for="(tahuns) in tahun" v-bind:key="tahun.id">
                <td>
                  <a href="javascript:void(0)" style="text-decoration: none; color:black;" v-on:click="parameterTahun(tahuns.ProdukHukumTahun)">{{tahuns.ProdukHukumTahun}} ( {{tahuns.jumlah}} )</a>
                </td>
              </tr>
            </table>
            </div>
        </q-tab-panel>
      </q-tab-panels>

      <div id="rekapitulasi">
        <q-tab-panels v-model="tab" class="gutter-md q-mb-lg">
          <q-tab-panel name="profil">
            <div class="q-pa-md">
              <div align="center" class="gutter-md q-mb-lg" style="font-size: 20px;">
                <b>REKAPITULASI PERATURAN PRODUK HUKUM</b>
              </div>
            <!-- <q-table title="Daftar Inventarisasi Peraturan Pemerintah Pengganti UU Tahun 2019 - 2015" :data="data" :columns="columns" row-key="name" /> -->
            <table class="tabel" style="width: 100%;">
              <thead>
                <tr>
                  <th class="tabel"><center>Bentuk Peraturan</center></th>
                  <th class="tabel th"><center>Jumlah</center></th>
                  <!-- <th class="text-center" v-for="(rekaps) in tahun" v-bind:key="tahun.id">
                    {{rekaps.ProdukHukumTahun}}
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr v-for="(rekaps) in rekap" v-bind:key="rekaps.id">
                  <td>
                    <router-link :to="{name: 'content', params: {id: rekaps.id}}" style="text-decoration: none; color:black;">{{rekaps.JenisProdukHukumNama}}</router-link>
                    <!-- <q-item v-for="(menu) in menus" :key="menu.id" :to="{ name: 'content', params: { id: menu.id }}" style="color: white;"> -->
                  </td>
                  <td>{{rekaps.jumlah}}</td>
                  <!-- <td class="text-center" v-for="(tahuns) in tahun" v-bind:key="tahun.id">
                    {{rekaps.jumlah}}
                  </td> -->
                </tr>
              </tbody>
           </table>
          </div>
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </div>
  </q-page>
</template>

<style>
  .tabel {
        /*font-family: 'Open Sans', sans-serif;*/
        font-family: 'Arial';
        font-size: 12px;
        /*width: 1150px;*/
        border-collapse: collapse;
        border: 1px solid #44475C;
        /*margin: 10px 10px 0 10px;*/
      }

      .tabel th {
        text-transform: uppercase;
        text-align: left;
        padding: 8px;
        background-color: #c3c7c4;
      }

      .tabel td {
        text-align: left;
        padding: 8px;
        border-right: 1px solid #7D82A8;
      }
      .tabel td:last-child {
        border-right: none;
      }
      .tabel tbody tr:nth-child(2n) td {
        background: #D4D8F9;
      }
</style>

<script>
export default {
  data () {
    return {
      tab:'profil',
      columns: [
        {
          name: 'name',
          required: true,
          label: 'No',
          align: 'center',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'calories', align: 'center', label: 'No Peraturan Teratas', field: 'calories', sortable: true },
        { name: 'fat', label: 'Tanggal Penetapan', field: 'fat', sortable: true },
        { name: 'carbs', label: 'Tentang', field: 'carbs' },
        { name: 'protein', label: 'Sumber', field: 'protein' },
        { name: 'sodium', label: 'Status', field: 'sodium' }
      ],
      data: [
        {
          name: '1',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        }
      ],
      tahun: {},
      rekap:{}
    }
  },
  methods:{
    get_tahun () {
      this.axios.get('/admin/gettahun')
        .then(response => {
          this.tahun = response.data.data
          // console.log(tahun)
        })
    },
    get_rekap (tahun) {
      this.axios.get("/admin/getrekap/'" + tahun+"'")
        .then(response => {
          this.rekap = response.data.data
          // console.log(rekap)
        })
    },
    parameterTahun(tahun){
      this.get_rekap(tahun) 
    }
  },
  mounted (){
    this.get_tahun();
    this.get_rekap(2019);
  }
}
</script>
