<template>
  <q-page class="flex flex-center bg-grey-3">
  	<div class="row q-pa-md gutter-md q-mb-lg" style="padding: 30px;">
  		<div class="col-lg-12 col-xs-12 col-md-12">
		  	<q-card flat style="width: 100%;" class="gutter-md q-mb-lg">
			    <q-tabs class="shadow-1 bg-grey-7" align="left">
				    <q-tab name="Statistik" v-for="(title) in contents" v-bind:key="title.id" :label="title.contentTitle" style="color: white;" />
				</q-tabs>

			    <q-tab-panels v-model="tab">
			      <q-tab-panel name="Statistik" class="text-justify">
			      	<div v-for="(content) in contents" v-bind:key="content.id">
			      		<div v-html="content.contentContent"></div>
			      	</div>
			      </q-tab-panel>
			    </q-tab-panels>
			</q-card>
  		</div>
  	</div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
	data () {
		return {
			tab: 'Statistik',
			tab1: 'Simplifikasi',
			name: 'PageIndex',
			title: '',
			dense: false,
			contents: {}
		}	
	},
	mounted () {
	    this.get_content();
	},
	methods: {
		get_content () {
	      this.axios.get('admin/get_tentangjdih/' + this.$route.params.id)
	        .then(response => {
	          this.contents = response.data.data
	          // console.log(this.contents)
	        })
	    }
	}
}
</script>
