<template>
	<q-page class="flex flex-center bg-grey-3" style="min-height: 0px;">
		<img src="statics/banner-restoran.jpg" basic v-if="this.$q.platform.is.desktop" class="gutter-md q-mb-lg" style="width:100%;">
		<img src="statics/banner-restoran.jpg" basic v-if="this.$q.platform.is.mobile" style="width: 100%;height: 125px;">
		<q-card flat style="width: 95%;" class="gutter-md q-mb-lg">
			<q-tabs class="shadow-1 bg-grey-7" style="width: 100%;" align="left">
			    <q-tab name="Statistik" label="Menu Favorite" style="color: white;" />
			</q-tabs>
			<q-tab-panels v-model="tab">
			      <q-tab-panel name="Statistik" class="text-justify">
			      	<div class="row q-pa-md gutter-md q-mb-lg" align="center">
				      	<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/ayam-geprek-moza.jpg"  style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Ayam Geprek</div>
							        <div class="text-subtitle2">by John Doe</div>
								<center>
								    <q-btn push color="teal" label="Tambah Pesanan" />
								</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/bebek-kaleyo.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Bebek Kaleyo</div>
							        <div class="text-subtitle2">by John Doe</div>
								<center>
								    <q-btn push color="teal" label="Tambah Pesanan" />
								</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/double-steak.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Sirloin Steak</div>
							        <div class="text-subtitle2">by John Doe</div>
									<center>
									    <q-btn push color="teal" label="Tambah Pesanan" />
									</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/burger.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Burger King</div>
							        <div class="text-subtitle2">by John Doe</div>
									<center>
									    <q-btn push color="teal" label="Tambah Pesanan" />
									</center>
							    </q-card-section>
							</q-card>
						</div>
					</div>
			      </q-tab-panel>
			</q-tab-panels>
		</q-card>
		<q-card flat style="width: 95%;" class="gutter-md q-mb-lg">
			<q-tabs class="shadow-1 bg-grey-7" style="width: 100%;" align="left">
			    <q-tab name="menu_terbaru" label="Menu Terbaru" style="color: white;" />
			</q-tabs>
			<q-tab-panels v-model="menu_terbaru">
			      <q-tab-panel name="menu_terbaru" class="text-justify">
			      	<div class="row q-pa-md gutter-md q-mb-lg" align="center">
				      	<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/kebab-turki.jpg"  style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Kebab Turki</div>
							        <div class="text-subtitle2">by John Doe</div>
								<center>
								    <q-btn push color="teal" label="Tambah Pesanan" />
								</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/spaghetti.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Spaghetti</div>
							        <div class="text-subtitle2">by John Doe</div>
								<center>
								    <q-btn push color="teal" label="Tambah Pesanan" />
								</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/pizza.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Pizza</div>
							        <div class="text-subtitle2">by John Doe</div>
									<center>
									    <q-btn push color="teal" label="Tambah Pesanan" />
									</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/sandwich.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Roti Sandwich</div>
							        <div class="text-subtitle2">by John Doe</div>
									<center>
									    <q-btn push color="teal" label="Tambah Pesanan" />
									</center>
							    </q-card-section>
							</q-card>
						</div>
					</div>
			      </q-tab-panel>
			</q-tab-panels>
		</q-card>
		<q-card flat style="width: 95%;" class="gutter-md q-mb-lg">
			<q-tabs class="shadow-1 bg-grey-7" style="width: 100%;" align="left">
			    <q-tab name="menu_promo" label="Menu Promo" style="color: white;" />
			</q-tabs>
			<q-tab-panels v-model="menu_promo">
			      <q-tab-panel name="menu_promo" class="text-justify">
			      	<div class="row q-pa-md gutter-md q-mb-lg" align="center">
				      	<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/martabak-telor.jpg"  style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Martabak Telor</div>
							        <div class="text-subtitle2">by John Doe</div>
								<center>
								    <q-btn push color="teal" label="Tambah Pesanan" />
								</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/martabak-bangka.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Martabak Bangka</div>
							        <div class="text-subtitle2">by John Doe</div>
								<center>
								    <q-btn push color="teal" label="Tambah Pesanan" />
								</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/roti-bakar.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Roti Bakar</div>
							        <div class="text-subtitle2">by John Doe</div>
									<center>
									    <q-btn push color="teal" label="Tambah Pesanan" />
									</center>
							    </q-card-section>
							</q-card>
						</div>
						<div class="col-md-3 col-xs-12">
							<q-card class="my-card" style="width: 200px; height: 270px;">
							    <q-img src="/statics/pisang-keju.jpg" style="height: 150px;"/>
								<q-card-section>
							        <div class="text-h6">Pisang Keju</div>
							        <div class="text-subtitle2">by John Doe</div>
									<center>
									    <q-btn push color="teal" label="Tambah Pesanan" />
									</center>
							    </q-card-section>
							</q-card>
						</div>
					</div>
			      </q-tab-panel>
			</q-tab-panels>
		</q-card>
	</q-page>
</template>

<style>
</style>

<script>
export default {
	data () {
		return {
			url: 'https://placeimg.com/500/300/nature',
			tab: 'Statistik',
			menu_terbaru: 'menu_terbaru',
			menu_promo: 'menu_promo',
		}			
	},
	methods: {
    refresh () {
      this.url = 'https://placeimg.com/500/300/nature?t=' + Math.random()
    }
  }	
}
</script>
