<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-white text-grey" height-hint="98">
      <q-toolbar-title v-if="this.$q.platform.is.desktop">
        <img src="/statics/logo-restoran.png" to="/" style="width:10%;height: 10%; padding: 10px;">
      </q-toolbar-title>
        <q-tabs v-model="tab" style="background-color:#db2c30;color: white;width: 100%" v-if="this.$q.platform.is.desktop">
          <q-route-tab label="Beranda" to="/" />
          <q-route-tab label="Menu Favorit" to="/menu_favorit/id" />
          <q-route-tab label="Menu Terbaru" to="/menu_favorit/id-restoran" />
          <q-route-tab label="Menu Promo" to="/menu_favorit/id-restoran" />
        </q-tabs>

        <div class="q-pa-md" v-if="this.$q.platform.is.mobile">
            <q-header elevated class="bg-red">
              <q-toolbar>
                <img src="/statics/logo-restoran.png" to="/" style="left:10px; width:15%;height: 10%; padding: 10px;">
                <q-btn flat @click="drawerRight = !drawerRight" round dense icon="menu" style="position:absolute; right: 20px; "/>
              </q-toolbar>
            </q-header>

            <q-drawer
              side="right"
              v-model="drawerRight"
              show-if-above
              :width="200"
              :breakpoint="500"
              bordered
              content-class="bg-grey-3"
            >
              <q-scroll-area class="fit">
                <q-list v-for="(menuItem, index) in menuList" :key="index">

                  <q-item clickable :active="menuItem.label === 'Outbox'" v-ripple>
                    <q-item-section avatar>
                      <q-icon :name="menuItem.icon" />
                    </q-item-section>
                    <q-item-section>
                      {{ menuItem.label }}
                    </q-item-section>
                  </q-item>

                 <q-separator v-if="menuItem.separator" />

                </q-list>
              </q-scroll-area>
            </q-drawer>
        </div>

    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- <q-footer elevated class="bg-grey-8 text-white text-center"> -->
      <q-toolbar class="bg-grey-8 text-white text-center">
        <q-toolbar-title style="font-size: 12px;">
          Copyright © 2019 Restoran Ucang Angge
        </q-toolbar-title>
      </q-toolbar>
    <!-- </q-footer> -->

  </q-layout>
</template>

<script>
  const menuList = [
  {
    icon: 'home',
    label: 'Beranda',
    separator: false
  },
  {
    icon: 'send',
    label: 'Menu Favorit',
    separator: false
  },
  {
    icon: 'delete',
    label: 'Menu Terbaru',
    separator: false
  },
  {
    icon: 'error',
    label: 'Menu Promo',
    separator: false
  }
]

export default {
  data () {
    return {
      drawerRight: false,
      tab:'',
      menuList
    }
  }
}


</script>
